<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="stylesheet" href="../css/home-styles.css">
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ico/bookIco.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title>The Nest of Books | About Us</title>
</head>
<body>
    <header>
        <div id="title-and-name-container">
            <div id="title">
                <h1> <a href="../templates/home.html" title="Library The Nest Of Books">Library The Nest Of Books</a></h1>
            </div>
            <div id="user-name-container">
                <nav id="user-navbar">
                    <ul>
                        <a href="../templates/favs.html"><li title="Favs">Favs</li></a>
                        <a href="../templates/buys.html"><li title="Buys">Buys</li></a>
                        <a href="../templates/cart.html"><li title="Cart">Cart</li></a>
                        <a href="#"><li>Ignacio</li>!</a>
                    </ul>
                </nav>
            </div>    
        </div>
        <nav id="navbar">
            <ul>
                <a href="../templates/home.html" title="Home"><li>Books Stock</li></a>
                <a href="../templates/aboutUs.html" title="About Us" style="text-decoration: underline; color: rgb(65, 155, 65);"><li>About Us</li></a>
                <a href="../templates/suggestBooksSection.html" title="Suggest a Book"><li>Suggest a Book</li></a>
                <a href="../templates/contact.html" title="Contact"><li>Contact</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="main-title">About Us: </h3>
        <div id="aboutUs-container">
            <figure>
                <img src="../img/website/library-img.jpg" alt="Library" title="Library">
                <figcaption>Our worship space, immerse yourself in the wisdom of the books.</figcaption>
            </figure>
            <section>
                <h3>Welcome to Library: <span class="aboutUs-title">The Nest of Books</span></h3>
                <article>
                    <p><span class="first-world">At Library:</span> <span class="text-name">The Nest of Books</span>, we believe in the transformative power of literature. Nestled within these walls is a sanctuary for bibliophiles, a place where stories come alive and imaginations soar.</p>
                </article>
                <article>
                    <h4>Our Collection</h4>
                    <p><span class="first-world">Our collection</span> spans across genres, from timeless classics to contemporary masterpieces, offering something for every reader. Whether you seek knowledge, adventure, or simply an escape from reality, you'll find it within our shelves.</p>
                </article>
                <article>
                    <h4>Community Hub</h4>
                    <p><span class="first-world">Library:</span> <span class="text-name">The Nest of Books</span> is more than just a repository of books; it's a community hub where minds meet, ideas are exchanged, and friendships are formed. Join us in our journey to explore the endless realms of literature, where every page turned unveils a new adventure.</p>
                </article>
                <article>
                    <h4>Immerse Yourself</h4>
                    <p>Come, immerse yourself in the magic of words, and discover the wonders that await you at Library: <span class="text-title"><a href="../templates/home.html">The Nest of Books</a></span>.</p>
                </article>
            </section>
        </div>
    </main>
    <footer>
        &copy; Library the Nest Of Books 
    </footer>
    
</body>
</html>