<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buys-styles.css">
    <link rel="stylesheet" href="../css/home-styles.css">
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ico/bookIco.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title>The Nest of Books | Buys</title>
</head>
<body>
    <header>
        <div id="title-and-name-container">
            <div id="title">
                <h1> <a href="../templates/home.html" title="Library The Nest Of Books">Library The Nest Of Books</a></h1>
            </div>
            <div id="user-name-container">
                <nav id="user-navbar">
                    <ul>
                        <a href="../templates/favs.html"><li title="Favs">Favs</li></a>
                        <a href="../templates/buys.html"><li title="Buys">Buys</li></a>
                        <a href="../templates/cart.html"><li title="Cart">Cart</li></a>
                        <a href="#"><li>Ignacio</li>!</a>
                    </ul>
                </nav>
                <!--User's name-->
            </div>    
        </div>
        <nav id="navbar">
            <ul>
                <a href="../templates/home.html" title="Home"><li>Books Stock</li></a>
                <a href="../templates/aboutUs.html" title="About Us"><li>About Us</li></a>
                <a href="../templates/suggestBooksSection.html" title="Suggest a Book"><li>Suggest a Book</li></a>
                <a href="../templates/contact.html" title="Contact"><li>Contact</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="main-title">Buys: </h3>
        <div id="buys-container">
            <p id="purchase-total-quantity"></p>
        </div>
    </main>
    <footer>
        &copy; Library the Nest Of Books 
    </footer>
    
    <script src="../js/buys.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>