<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/contact-styles.css">
    <link rel="stylesheet" href="../css/home-styles.css">
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ico/bookIco.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!----- EmailJS API Scripts ------>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">emailjs.init('ku9vHrA_hzRkxb4P9')</script>
    <title>The Nest of Books | Contact</title>
</head>
<body>
    <header>
        <div id="title-and-name-container">
            <div id="title">
                <h1> <a href="../templates/home.html" title="Library The Nest Of Books">Library The Nest Of Books</a></h1>
            </div>
            <div id="user-name-container">
                <nav id="user-navbar">
                    <ul>
                        <a href="../templates/favs.html"><li title="Favs">Favs</li></a>
                        <a href="../templates/buys.html"><li title="Buys">Buys</li></a>
                        <a href="../templates/cart.html"><li title="Cart">Cart</li></a>
                        <a href="#"><li>Ignacio</li>!</a>
                    </ul>
                </nav>
            </div>    
        </div>
        <nav id="navbar">
            <ul>
                <a href="../templates/home.html" title="Home"><li>Books Stock</li></a>
                <a href="../templates/aboutUs.html" title="About Us"><li>About Us</li></a>
                <a href="../templates/suggestBooksSection.html" title="Suggest a Book"><li>Suggest a Book</li></a>
                <a href="../templates/contact.html" title="Contact" style="text-decoration: underline; color: rgb(65, 155, 65);"><li>Contact</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="main-title">Contact Us</h3>
        <div id="contact-container">
            <form id="form">
                <div class="field">
                    <label for="from_name">Name</label>
                    <input type="text" name="from_name" id="from_name" placeholder="Enter your name" required>
                </div>
                <div class="field">
                    <label for="email_id">Email</label>
                    <input type="text" name="email_id" id="email_id" placeholder="Enter your email" required>
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea id="message" class="input-general textarea" type="text" name="message" placeholder="Enter a message" required></textarea>
                </div>

                <input type="submit" id="button" value="Send Email" >
            </form>
        </div>
    </main>
    <footer>
        &copy; Library the Nest Of Books 
    </footer>
    
    <script src="../js/contact.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
</body>
</html>