<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/review-purchase-styles.css">
    <link rel="stylesheet" href="../css/residence-form-styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ico/bookIco.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title>The Nest of Books | Review Purchase</title>
</head>
<body>
    <header>
        <div id="title">
            <h1> <a href="../templates/home.html" title="Library The Nest Of Books">Library The Nest Of Books</a></h1>
        </div>
    </header>
    <main>
        <h2 class="sub-title">Review and confirm your purchase</h2>
        <div id="general-container">
            <div id="book-info-container">
                <h4>Shipping Detail</h4>
                <div id="shipping-info-container">
                    <div id="location-icon">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <!---->
                    <div id="shipping-info-address">
                        <button type="submit" id="choose-another-address-button" class="blue">Choose Another Address</button>
                    </div>
                </div>    
                <div id="product-container">
                    <div id="shipping-icon">
                        <i class="bi bi-truck"></i>
                    </div>
                    <p>You receive 1 product in 1 shipment</p>
                </div>
                <div id="review-product-container">
                    <!---->
                </div>
                <h4>Payment Detail</h4>
                <div id="payment-detail-container">
                    <!---->
                </div>
            </div>
            <div id="purchase-summary-container" class="summary-purchase">
                <p id="purchase-summary-title">Purchase Summary</p>
                <p id="product-quantity"></p>
                <p id="product-price"></p>
                <p id="product-shipping-text">Free Shipping ✔</p>
                <p id="product-total"></p>
                <button type="submit" id="confirm-purchase-button">Confirm Purchase</button>
            </div>
        </div>
    </main>
    <footer>
        &copy; Library the Nest Of Books 
    </footer>
    
    <script src="../js/reviewPurchase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
