<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/successful-purchase-styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ico/bookIco.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title>Successful Purchase!</title>
</head>
<body>
    <div id="successful-purchase-container">
        <div id="purchase-img">  
            <svg width="100" height="100" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
            </svg>
        </div>
        <p class="excellent-buy">Excellent buy!</p>
        <h3>Tomorrow will arrive</h3>
    </div>
    <div id="extra-info-container">
        <p class="free">Free Shipment ✔</p>
        <p class="warehouse">We are already preparing your package in the warehouse of the Library, <span class="nest">The Nest Of Books</span></p>
        <button type="submit" id="view-purchase-details-button">View Purchase Details</button>
    </div>
    

    <script src="../js/successfulPurchase.js"></script>
</body>
</html>
